@import "~bootstrap/dist/css/bootstrap.min.css";


.bg-escuro {
  background-image: url('/images/Background.png');
  color: #fff;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-top: 2vh;
}

.banner h1{
  font-size: 400%;
}

.banner p {
  font-size: 150%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 3vh;
}

.cardestilo {
  width: 90%; /* Usando porcentagem para responsividade */
  max-width: 300px; /* Limita a largura máxima */
  height: auto; /* Remove a altura fixa */
  box-shadow: 0px 3px 4px 3px rgba(0, 0, 0, 0.40);
  margin-bottom: 2rem;
  padding: 1rem; /* Ajusta o padding para ser mais consistente */
  text-align: center; /* Centraliza o texto */
}

.cardestilo img {
  width: 50px; /* Define um tamanho fixo para a imagem */
  height: auto;
  margin-bottom: 1rem; /* Adiciona margem inferior para espaçamento */
}

.cardestilo h3 {
  font-size: 1.5rem; /* Ajusta o tamanho da fonte */
  margin-bottom: 0.5rem; /* Adiciona margem inferior para espaçamento */
}

.cardestilo p {
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  margin-bottom: 1rem; /* Adiciona margem inferior para espaçamento */
}

.cardestilo span {
  font-size: 0.9rem; /* Ajusta o tamanho da fonte */
  font-weight: bold;
  display: block; /* Faz o span ocupar toda a linha */
  margin-top: 0.5rem; /* Adiciona margem superior para espaçamento */
}

@media (min-width: 600px) {
  .cardestilo {
    width: 45%; /* Ajusta a largura para telas maiores */
  }
}

@media (min-width: 900px) {
  .cardestilo {
    width: 30%; /* Ajusta a largura para telas ainda maiores */
  }
}


.agendar {
  background-color: #332321;
  color: #fff;
  
}

.agendar a {
  color: #fff;
}

.agendar:hover {
  color: #fff;
  text-decoration: none;
}

.sections {
  margin-bottom: 6vh;

}

.titulo {
  margin-top: 6vh;
  margin-bottom: 3vh;
  width: 20rem;
}

#agendar {
  padding-bottom: 6vh;
}

#agendar h4 {
  font-size: 150%;
}

.vermapa {
  height: 4vh;
  font-size: 100%;
  margin-top: 1vh;
  margin-bottom: 6vh;
  background-color: #332321;
  color: #fff;
}

.galeria img {
  width: 20vw;
  height: auto;
  margin-right: 2vh;
}

.galeria2 img {
  width: 20vw;
  height: auto;
  margin-right: 2vh;
}

.insta {
  color: #fff;
  background-color: #564746;
  height: 4vh;
  font-size: 100%;
  margin-top: 1vh;
  margin-bottom: 6vh;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 100%;
  padding: 15px;
  z-index: 1000;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.atendimento {
  background-color: #fff;
  color: #332321;
  padding-left: 1vw;
  padding-right: 1vw;
}





.card {
  --bg-card: #332321;
  --primary: #fff;
  --primary-800: #fff;
  --primary-shadow: #332321;
  --light: #d9d9d9;
  --zinc-800: #18181b;
  --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 1rem;
  width: 14rem;
  background-color: var(--bg-card);

  border-radius: 1rem;

  margin-bottom: 6vh;
}

.image_container {
  overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 100%;
  height: 8rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;

  padding-top: 7%;
}

.image_container .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 3rem;
  fill: var(--light);
}

.title {
  overflow: clip;

  width: 100%;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light);
  text-wrap: nowrap;
}

.title p {
  overflow: clip;
  text-align: left;
  width: 100%;

  font-size: 1rem;
  font-weight: 600;
  color: var(--light);
  text-wrap: wrap;
}

.action {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.price {
  font-size: 1rem;
  font-weight: 700;
  color: var(--light);
}

.cart-button {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  padding: 0.5rem;
  width: 100%;
  background-image: var(--bg-linear);

  font-size: 0.75rem;
  font-weight: 500;
  color: var(--light);
  text-wrap: nowrap;

  border: 2px solid hsla(262, 83%, 58%, 0.5);
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0.25rem 1px var(--light);
}

.cart-button .cart-icon {
  width: 1rem;
}
